﻿@model Infranildo.Models.Celular

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Celular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModTelefoneID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModTelefoneID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CelularID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
