﻿@model Infranildo.Models.Pc

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModPcID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModPcID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memória)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memória)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacEth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacEth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacWifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacWifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teamviewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamviewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Série)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Série)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
