﻿@model Infranildo.Models.Pc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModPcID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModPcID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memória)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memória)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacEth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacEth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacWifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacWifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teamviewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamviewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Série)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Série)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
