﻿@model IEnumerable<Infranildo.Models.Pc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModPcID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memória)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MacEth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MacWifi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teamviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Série)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuncionarioID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModPcID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memória)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MacEth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MacWifi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teamviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Série)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
