﻿@model IEnumerable<Infranildo.Models.Email>

@{
    ViewBag.Title = "Index";
}

<h2>E-mails</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuncionarioID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finalidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmailID })
        </td>
    </tr>
}

</table>
