﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Target Meio de Pagamentos</h1>
    <p class="lead">Controle de inventário para TI.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Cadastrar ativo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastro Colaborador</h2>
        <p> Para cadastrar um novo colaborador, atribuir a ele novos bens e imprimir um novo documento de responsabilidade de bens
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Cadastrar Colaborador &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Incluir Modelo</h2>
        <p>Para incluir no novo modelo nas tabelas de modelos de bens, a fim de manter a área de modelos atualizada.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Inclusão Modelo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Desligar colaborador</h2>
        <p>Para imprimir a ordem de devolução de bens relacionados a um colaborador no momento de seu desligamento ou na troca de bens.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Desligar colaborador &raquo;</a></p>
    </div>
</div>